#contact::before{
  content:'';
  display: block;
  clear: both;
}
#contact {
  background: rgba(229, 52, 17, 1);
  color: white;
  text-shadow: 2px 2px rgba(34, 19, 51, 1);
  padding-top:5%;
  padding-bottom: 5%;
}
.contactContent {
  text-align: center;
}

.contactContent h1{
  font-family: 'Pacifico';
  font-weight: 100;
  font-size: 3em;
}
.contactInfo{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contactInfo div{
  width: 300px;
  padding: 20px;
}

@media only screen and (max-device-width: 468px){
  #contact {
    padding-top: 25%;
    padding-bottom: 15%;
  }
}
