#eventPage {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

#eventPage .eventContainer {
  position: absolute;
  right: 0px;
  top: 0;
  width: 90%;
  background-color: white;
  text-align: center;
}

#eventBack {
  position: fixed;
  background-color: rgba(229, 52, 17, 1);
  left: 5%;
  top: 0;
  font-size: 2em;
  padding: 2px 30px;

}

#eventPage.deactive{
  left: 100vw;
}

#eventPage.deactive #eventBack{
  left: 100vw;
}

.eventContainer .mainContent {
  width: 80%;
  margin: 25% auto;
  text-align: center;
}

.mainContent .Prize img{
  width: 300px;
}
.mainContent .Guidelines {
  text-align: left;
}

@media only screen and (max-device-width: 468px){
  .mainContent .Prize img{
    width: 50vw;
  }
}
