header {
  position: absolute;
  top:0;
  left:0;
  padding: 20px 20px;

}

.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}
.sidenav a{
  padding:8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover{
  color: rgba(229, 52, 17, 1);
}
.sidenav .closeBtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px){
  .sidenav { padding-top: 15px;}
  .sidenav a { font-size: 18px;}
}

.dropDown {
  display: none;
  background: #2d2d2d;
}
.show {
  display: block;

}


.socialIcons{
 position: fixed;
 bottom: 30px;
 left: 5px;
 list-style: none;
 text-align: center;
 transition: 1s;
}
.socialIcons li{
  padding: 10px 0;
  font-size: 1em;

}

#Register {
  position: fixed;
  right: 10px;
  top: 15px;
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 100px;
  font-size: 1em;
  font-weight: bold;
  background: rgba(229, 52, 17, 1);
  transition: 1s;

}

#back {
  position: fixed;
  right: 10px;
  padding: 10px;
  text-align: center;
  font-size: 2em;
  bottom: 30px;
  transition: 1s;

}


/*
.boxContainer */ .sideNavBtn {
  position: fixed;
  top: 25px;
  left: 10px;
  display: flex;

}
.sideNavBtn:hover {
  cursor: pointer;
}
.box {
  height: 1.5px;
  margin-bottom: 7px;
  transition:1s;
  background: white;
  margin-right: 10px;
}
.box1 {
  width: 20px;
}
.box2 {
  width: 15px;
}
.box3{
  width: 25px;
}

.sideNavBtn span{
  color: white;
  font-size:1.48em;
  margin-top: -9px ;
  transition: 1s;
}

/*----------   ----------*/
.topTouch .socialIcons{
   bottom: -250px;
}

.topTouch #Register{
  width: 200px;
  font-size: 1.5em;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);

}

@media only screen and (max-device-width: 480px) {
 .topTouch #Register{
   top: 50%;
   right: 50%;
   transform: translate(50%,100%);
 }

 .sideNavBtn span{
   display: none;
 }
}

.topTouch #back{
  bottom: -80px;
}
.topTouch .sideNavBtn span{
  opacity: 0;
}
.topTouch .box1{
  width: 0;
}

.topTouch .box2{
  width: 0;
}

.topTouch .box3{
  width: 0;
}
