.schedule {
  width: 40%;
  height: 100vh;
  text-align: center;
  color: white;
  font-family: monospace;
}

.scheduleContent {
  width: 100%;
  margin: 5% auto;

}
.scheduleContent h1{
  font-family: 'Pacifico';
  color: rgba(229, 52, 17, 1);
  font-weight: 100;
  font-size: 3em;
}

.scheduleList{
  width: 80%;
  margin: 5% auto;


}
.scheduleList li::before{
  display: block;
  content:'';
  clear: both;

}
.scheduleList li{
  list-style: none;
  width: 100%;
  margin: 20px 0;
/*  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}
.scheduleList .listLeftItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  float: left;

}
.scheduleList .listRightItem {
  display: flex;
  align-items: center;
  float: right;
}
.listLeftItem h2{
  font-size: 40px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.listLeftItem .dayMonth{
  font-size: 12px;
  margin-right: 18px;
  margin-bottom: 15px;
}
.day{
  color: grey;
  margin-bottom: 4px;
}
.listLeftItem p{
  font-size: 25px;
  font-family: arial;
  margin-bottom: 15px;
}
.listRightItem a{
  color: grey;
  border: 2px solid white;
  border-radius: 100px;
  padding: 10px 40px;
}
.listRightItem a:hover{
  color: white;
}

@media only screen and (max-width: 468px){
  .listLeftItem p{
    min-width: 80%;
  }
}
