.schedule {
  width: 100%;
  text-align: center;
  color: white;

}

.scheduleContent {
  width: 100%;
  margin: 6% auto;
}
@media only screen and (max-device-width: 468px){
 .scheduleContent {
   margin: 25% auto;
 }
}
.scheduleContent h1{
  font-family: 'Pacifico';
  color: rgba(229, 52, 17, 1);
  font-weight: 100;
  font-size: 3em;

}

.scheduleList{
  width: 80%;
  margin: 5% auto;
}
.scheduleList li::before{
  display: block;
  content:'';
  clear: both;

}
.scheduleList li::after{
  display: block;
  content:'';
  clear: both;

}
.scheduleList li{
  list-style: none;
  width: 100%;
  margin: 20px 0;

}
.scheduleList .listLeftItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  float: left;
  margin-bottom: 10px;
}
.scheduleList .listRightItem {
   display: flex;
  align-items: center;
  float: right;
  margin-bottom: 40px;
}
.listLeftItem h2{
  font-size: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.listLeftItem .dayMonth{
  font-size: 12px;
  margin-right: 18px;
  margin-bottom: 10px;
}
.day{
  color: grey;
  margin-bottom: 4px;
}
.listLeftItem p{
  font-size: 25px;
  margin-bottom: 10px;

}
.listRightItem a{
  color: grey;
  border: 2px solid white;
  border-radius: 100px;
  padding: 10px 40px;

}
.listRightItem a:hover{
  color: white;
}



@media only screen and (max-width: 468px){
  .listLeftItem p{
    min-width: 80%;
  }
  .scheduleList .listRightItem {
    float: left;
  }
  .listRightItem a{
    width: 50vw;
  }
}
