
@import url("Nav.css");
@import url("homepage.css");
@import url("schedule.css");
@import url("contact.css");
@import url("eventPage.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;

}

.container {
  max-width: 960px;
  margin: auto;
}

body {
  background-color: rgba(34, 19, 51, 1);
}

a {
  text-decoration: none;
  color: white;
}

.orangeBtn{
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  text-align: center;
  border-radius: 100px;
  font-size: 1em;
  font-weight: bold;
  background: rgba(229, 52, 17, 1);
}

footer {
  text-align: center;
  color: grey;
  padding: 10px;
}



/* ---------------------- */
section {
  width: 100%;

}
